*.env
.env
env/**
venv
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.mp3
*.mp4
*.wav
*.avi
*.mkv
*.mov
*.flv
*.wmv
cloud/tts/.env
cloud/txt/.env
cloud/tts/audio/**
cloud/tts/env/**
cloud/txt/env/**
config.js
cloud/txt/src/static/config.js
cloud/tts/src/static/config.js
